.MuiGrid-container {
    padding: 30px;
    
}
.MuiPaper-root {
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
}

.makeStyles-image-2 {
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
}

.submitButton {
    width: 40%;
    margin: auto;
}